.banner {
    padding: 0 245px;
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../shared/Desktop-2\(3\).png");
    max-width: 100%;
    
    &__title {
        color: #ffffff;
        font-size: 44px;
        font-weight: 700;
        line-height: 52px;
        margin-bottom: 20px;
        width: 45%;
        padding-top: 150px;
    }

    &__button {
        color: #B45309;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        padding: 10px 20px;
        border-radius: 50px;
        border: none;
        cursor: pointer;
    }
}
