*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: "Inter", sans-serif;

}


.container{
    max-width: 1261px;
    margin: 0 auto;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

 
}